<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Guide Tersedia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="box">
    <img class="box-image" src="../../assets/no-image.png">
    <div class="box-text">
      <div class="box-title">Dadan Ramdan</div>
      <div class="box-description">Male, 25</div>
    </div>
  </div>
  <div class="box">
    <img class="box-image" src="../../assets/no-image.png">
    <div class="box-text">
      <div class="box-title">Tristianto</div>
      <div class="box-description">Male, 27</div>
    </div>
  </div>
  <div class="box">
    <img class="box-image" src="../../assets/no-image.png">
    <div class="box-text">
      <div class="box-title">Riki Rahayu</div>
      <div class="box-description">Male, 26</div>
    </div>
  </div>
  <div class="box">
    <img class="box-image" src="../../assets/no-image.png">
    <div class="box-text">
      <div class="box-title">Edy Purwanto</div>
      <div class="box-description">Male, 24</div>
    </div>
  </div>
  <div class="box">
    <img class="box-image" src="../../assets/no-image.png">
    <div class="box-text">
      <div class="box-title">Rizjin Septiawan</div>
      <div class="box-description">Male, 25</div>
    </div>
  </div>
</ion-content>
