.login-content {
    height: 100%;
    background: #308ee0;
    padding: 0 30px;
}

.login-logo {
    height: 230px;
    text-align: center;
}

.logo-image {
    height: 150px;
    padding-top: 40px;
}

.logo-label {
    padding-top: 150px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.login-form {
    background-color: #fff;
    border-radius: 10px;
}