.login-content {
    height: 100%;
	background: url('../../assets/bg-login.png') repeat;
}

.login-logo {
    height: 250px;
    text-align: center;
}

.logo-image {
    height: 150px;
    padding-top: 40px;
}

.logo-label {
    font-size: 24px;
    font-weight: bold;
    color: #555;
}

.login-form {
    background-color: #f2f8f9;
    border-radius: 5px;
}