<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      TourGuide
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="box">
    <img class="box-image" src="../../assets/bg-4.jpg">
    <div class="box-title">Bandung, Jawa Barat</div>
  </div>
  <div class="box">
    <img class="box-image" src="../../assets/bg-2.jpg">
    <div class="box-title">Yogyakarta, DIY</div>
  </div>
  <div class="box">
    <img class="box-image" src="../../assets/bg-3.jpg">
    <div class="box-title">Malang, Jawa Timur</div>
  </div>
  <div class="box">
    <img class="box-image" src="../../assets/bg-1.jpg">
    <div class="box-title">Denpasar, Bali</div>
  </div>
</ion-content>
